#header{
    font-size:30px;
}

.btn-success:hover{
    background-color: red;
}
canvas{
    animation-name: clowny;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes clowny{
    from {box-shadow: 1px, 1px, 38px, plum}
    to {box-shadow: 1px, 1px, 38px, powderblue}
}